header {
    display: flex;
    justify-content: center;
}

#div-inc-jg {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

#inc-jg {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    background: orange;
    border-radius: 10px;
}

#inc-jg:hover {
    background: yellow;
}

#div-ltr-ch {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#ltr-tnt {
    font-size: 50px;
}

#len-plv {
    display: flex;
    justify-content: center;
}

.div-let-sp {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-bottom: 1px solid black;
    margin: 10px;
}

#ltr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tnt-ch, #erros {
    display: flex;
    justify-content: center;
}

#txt-tnt, #txt-er {
    font-size: 40px;
}

.ltr-ch-crt {
    font-size: 1rem;
}

#ltr-ch-lst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ltr-ch-div {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

#txt-ltr-ch {
    font-size: 30px;
}
